<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.dynamicweb.UF65Y764U2" version="0.0.5" 
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SystemaDV</name>
    <description>
        Check delivery by tracking number  
    </description>
    <author email="vme@dynamicweb.ru" href="http://dynamicweb.ru">
        Dynamicweb RU
    </author>
    <content src="index.html" />
    <access origin="*" />
 	
	<icon src="res/icon/ios/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />
	<icon src="res/icon/ios/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />
	<icon src="res/icon/ios/Icon-76.png" gap:platform="ios" width="76" height="76" />

    <preference name="SplashScreen" value="icon" />
    
	<gap:config-file platform="ios" parent="CFBundleVersion">
		<string>0.0.5</string>
	</gap:config-file>
	
	<gap:config-file platform="ios" parent="CFBundleShortVersionString">
		<string>0.0.5</string>
	</gap:config-file>
    
</widget>
