<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.dynamicweb.UF65Y764U2" version="0.0.4" 
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SystemaDV</name>
    <description>
        Check delivery by tracking number  
    </description>
    <author email="vme@dynamicweb.ru" href="http://dynamicweb.ru">
        Dynamicweb RU
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png"/>
    <preference name="SplashScreen" value="icon" />
    
	<gap:config-file platform="ios" parent="CFBundleVersion">
		<string>0.0.4</string>
	</gap:config-file>
	
	<gap:config-file platform="ios" parent="CFBundleShortVersionString">
		<string>0.0.4</string>
	</gap:config-file>
    
</widget>
