
span.request,
span.proposal,
span.inprogress,
div.request p,
div.proposal p,
div.inprogress p {
	color: #8a6d3b;
}

span.completed,
div.completed p {
	color: green;
}

span.cancelled,
div.cancelled p {
	color: red;
}